---
import Menu from "../components/Menu.astro";
import TOC from "../components/TOC.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

const { title, frontmatter, headings, ogImage } = Astro.props;
const pageName = title || frontmatter?.title;
const siteName = "池田大輝 / Daiki Ikeda オフィシャルウェブサイト";
const pageTitle = pageName && Astro.url.pathname != "/" ? pageName + " / " + siteName : siteName;
const toc = frontmatter?.toc;
const description = "池田大輝のオフィシャルウェブサイトです。最新作『さくらいろテトラプリズム』2024年公開予定。";

// Example: Construct a canonical URL using your production domain
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
// Example: Construct a URL for SEO meta tags using your current domain
const ogImageURL = new URL(ogImage ?? "ogp_01.jpg", Astro.site);
---

<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:title" content={pageTitle} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={ogImageURL} />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content={canonicalURL} />
    <meta name="twitter:title" content={pageTitle} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={ogImageURL} />

    <!-- その他のSEO & パフォーマンス向上のためのタグ -->
    <meta name="theme-color" content="#ff4f75" />
    <link rel="canonical" href={canonicalURL} />

    <link
      href="/fonts/GenJyuu/normal/GenJyuuGothicL-Normal.css"
      rel="stylesheet"
      media="print"
      onload="this.media='all'"
    />
    <link href="/fonts/GenJyuu/bold/GenJyuuGothicL-Bold.css" rel="stylesheet" media="print" onload="this.media='all'" />

    <!-- Include the CSS & JS.. (This could be direct from the package or bundled) -->
    <link rel="stylesheet" href="/lite-youtube-embed/src/lite-yt-embed.css" />
    <script src="/lite-youtube-embed/src/lite-yt-embed.js" is:inline></script>
  </head>

  <body>
    <Menu />
    <main>
      {pageName && <h1>{pageName}</h1>}
      <slot />
    </main>
    {toc && <TOC headings={headings} />}
    <Footer />
    <script>
      import "../scripts/navigation.js";
      import "../scripts/menu.js";
    </script>
  </body>
</html>
